################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Subtitulos/obj/Debug
/Subtitulos/bin/Debug
