<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathMovies" value="V:\Peliculas"/>
    <add key="pathShows" value="C:\Users\arlek_000\Temp\Video\TV Shows,V:\TV Shows"/>
    <add key="ext" value="mkv"/>
    <add key ="spanish" value="5"/>
  </appSettings>
</configuration>